  
  .modal-background {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color:  rgba(0, 0, 0, 0.1)!important;;
  }
  
  .modal-cardforget {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 713px;
    height: 312px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-cardChangePass {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-card {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 713px;
    height: 512px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-card2 {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 713px;
    height: 512px;
    background-color: white;
    border-radius: 15px;
  }

  .modal-card3 {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 713px;
    height: 512px;
    background-color: white;
    border-radius: 15px;
  }
  
  .modal-card4 {
    margin: 0 auto;
    display: block;
    margin-top: 250px;
    width: 713px;
    height: 512px;
    background-color: white;
    border-radius: 15px;
  }