.topbar {
    background-color: #6E0D0D;
}

.bgColor {
    background-color: #ffb9af;
}

body, html {
    height: 100%;
    }

.bg {
background-image: url("https://scontent.fbkk11-1.fna.fbcdn.net/v/t1.15752-9/140660601_864921811005605_4370455273363644108_n.png?_nc_cat=104&ccb=3&_nc_sid=ae9488&_nc_ohc=r6D-dmsvkEwAX-yLgCV&_nc_ht=scontent.fbkk11-1.fna&oh=7acb7fb83ff8d4ba2ac3d2d51afe8de3&oe=60547837");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.bgLogin {
    background-image: url("https://scontent.fbkk11-1.fna.fbcdn.net/v/t1.15752-9/150422671_463886824640459_307413304488173951_n.png?_nc_cat=103&ccb=3&_nc_sid=ae9488&_nc_ohc=5FsbQuqq-lMAX-rILzl&_nc_ht=scontent.fbkk11-1.fna&oh=4b87b66c761013972fe9df06ca137189&oe=60537E5C");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

