.topbar {
    background-color: #6E0D0D;
}

.bgColor {
    background-color: #ffb9af;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("https://scontent.fbkk11-1.fna.fbcdn.net/v/t1.15752-9/140660601_864921811005605_4370455273363644108_n.png?_nc_cat=104&ccb=3&_nc_sid=ae9488&_nc_ohc=r6D-dmsvkEwAX-yLgCV&_nc_ht=scontent.fbkk11-1.fna&oh=7acb7fb83ff8d4ba2ac3d2d51afe8de3&oe=60547837");
    height: 1080px;
    width: 1920px;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bgLogin {
    background-image: url("https://scontent.fbkk11-1.fna.fbcdn.net/v/t1.15752-9/150590877_3561751897269903_2503820508600786235_n.png?_nc_cat=103&ccb=3&_nc_sid=ae9488&_nc_eui2=AeEhhfDsT__jWN2PzMix_xQrTiojYPN2t9NOKiNg83a300XjUFFHebyYcBqKQBNorYjHX-N_wNd-nTByUy7LJPhk&_nc_ohc=Vl_yVG21U5oAX9LGpSM&_nc_ht=scontent.fbkk11-1.fna&oh=bb1eaa8f98eacd24d1fc13edcfe1af0b&oe=606400D4");
    height: 1080px;
    width: 1920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paper {
    background-color: rgba(245, 245, 245, 0.4) !important;
}

.paperDash {
    position: absolute;
    width: 548px;
    height: 347px;
    left: 365px;
    top: 178px;
    background: rgba(255, 255, 255, 0.4)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.paperSt {
    position: absolute;
    width: 640px;
    height: 267px;
    left: 925px;
    top: 178px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperIv {
    position: absolute;
    width: 548px;
    height: 155px;
    left: 365px;
    top: 534px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOd {
    position: absolute;
    width: 313px;
    height: 231px;
    left: 925px;
    top: 458px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperPk {
    position: absolute;
    width: 313px;
    height: 231px;
    left: 1252px;
    top: 458px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOc {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 365px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperCs {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 770px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperHs {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 1174px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

/* Paper Ordering Chart */

.schOrder {
    position: absolute;
    width: 616px;
    height: 108px;
    left: 8px;
    top: 73px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topOrdering {
    position: absolute;
    width: 1280px;
    height: 108px;
    left: 630px;
    top: 73px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topicLeft {
    position: absolute;
    width: 616px;
    height: 55px;
    left: 8px;
    top: 187px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topicRight {
    position: absolute;
    width: 1280px;
    height: 55px;
    left: 630px;
    top: 187px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.dataLeft {
    position: absolute;
    width: 616px;
    height: 764px;
    left: 8px;
    top: 248px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.dataRight {
    position: absolute;
    width: 1280px;
    height: 705px;
    left: 630px;
    top: 248px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.buttonOrder {
    position: absolute;
    width: 1283px;
    height: 100px;
    left: 627px;
    top: 892px;
    /* 970 */
    background: rgba(0, 0, 0, 0)!important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom-width: 0px;
}

.buttonPickk {
    position: absolute;
    width: 1283px;
    height: 100px;
    left: 627px;
    top: 892px;
    /* 970 */
    background: rgba(0, 0, 0, 0)!important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom-width: 0px;
}

/* im */

.imDash {
    position: absolute;
    width: 319px;
    height: 248px;
    left: 25%;
}

.imSt {
    position: absolute;
    width: 463px;
    height: 318px;
    left: 24%;
}

.imIc {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 60%;
}

.imOd {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 28%;
    top: 10%;
}

.imPk {
    position: absolute;
    width: 145px;
    height: 145px;
    left: 28%;
    top: 8%;
}

.imOc {
    position: absolute;
    width: 126px;
    height: 123px;
    left: 35%;
    top: 10%;
}

.imCs {
    position: absolute;
    width: 156px;
    height: 145px;
    left: 32%;
    top: 7%;
}

.imHs {
    position: absolute;
    width: 128px;
    height: 125.41px;
    left: 32%;
    top: 10%;
}

.paper2 {
    background-color: rgba(245, 245, 245, 0.4) !important;
    border-radius: 50rem;
}

.im1 {
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.fontt {
    font-size: 60px;
}

.picst {
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.textDb {
    position: absolute;
    width: 291px;
    height: 73px;
    left: 25%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textSt {
    position: absolute;
    width: 219px;
    height: 135px;
    margin-left: 25px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    padding-left: 0.7%;
}

.textOd {
    position: absolute;
    width: 239px;
    height: 73px;
    left: 12%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textIc {
    position: absolute;
    width: 266px;
    height: 146px;
    left: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: right;
    color: #6E0D0D;
}

.textHs {
    position: absolute;
    width: 239px;
    height: 73px;
    left: 18%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textO {
    position: absolute;
    width: 161px;
    height: 73px;
    left: 30%;
    top: 55%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textS {
    position: absolute;
    width: 266px;
    height: 54px;
    left: 18%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #6E0D0D;
}

.textCf {
    position: absolute;
    width: 220px;
    height: 72px;
    left: 23%;
    top: 60%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #6E0D0D;
}

.textSh {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 25%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

/* Picking */

.textPickD {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickCT {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickRN {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickTel {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 45%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickAdr {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickCC {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.paperPicking {
    position: absolute;
    width: 1886px;
    /*1404*/
    height: 600px;
    /*561*/
    left: 18px;
    top: 234px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOrdering {
    position: absolute;
    width: 1886px;
    /*1404*/
    height: 600px;
    /*561*/
    left: 18px;
    top: 234px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

/*Stock*/

.paperVs {
    justify-items: center;
    align-items: center;
    width: 315px;
    height: 270px;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-left: 2%;
    margin-right: 2%;
}

.paperForget {
    /* Forgot Password */
    position: absolute;
    width: 608px;
    height: 630px;
    left: 661px;
    top: 197px;
    background: rgba(244, 244, 244, 0.4)!important;
    border-radius: 20px;
}

.imVs {
    justify-self: center;
    margin-left: 10%;
    padding-top: 1%;
    width: 80%;
    height: 80%;
    /*background-color: #6E0D0D;*/
}

.imVs2 {
    justify-self: center;
    margin-left: 10%;
    margin-top: 3.7%;
    width: 80%;
    height: 80%;
    /*background-color: #6E0D0D;*/
}

.textSto1 {
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    align-self: start;
    top: 69%;
    margin-left: 3.2%;
}

.textSto2 {
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    align-self: start;
    top: 69%;
    margin-left: 1.25%;
}

.textSto3 {
    position: absolute;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    align-self: start;
    top: 69%;
    margin-left: 3.7%;
}

.im1 {
    display: flex;
    justify-content: center;
}

/* Text Ordering */

.textOrSup {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrDate {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrAddr {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 29%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrTelAd {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 68%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrConN {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 29%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrTelCn {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 42%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.paperShelf {
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-left: 2%;
    margin-right: 2%;
}

.imViewStock {
    justify-self: center;
    margin-left: 15%;
    margin-top: 3%;
    width: 70%;
    height: 70%;
    /*background-color: #6E0D0D;*/
    /* background-color: aquamarine; */
}

.textViewStock {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    align-self: start;
    /* background-color: aqua; */
}

.paperABC {
    position: absolute;
    width: 365px;
    height: 319px;
    left: 383px;
    top: 158px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.paperTT {
    position: absolute;
    width: 765px;
    height: 319px;
    left: 783px;
    top: 158px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperTI {
    position: absolute;
    width: 365px;
    height: 477px;
    left: 383px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperIL {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 777px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperOTW {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 1183px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperDam {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 777px;
    top: 747px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperTO {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 1183px;
    top: 747px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

/*Shelf*/
.txtShelf {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    
    text-align: center;
    color: black;
    align-self: start;
    font-weight: bold;
}

.txtShelf2 {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-top: 40%;
    text-align: center;
    color: black;
    align-self: start;
    font-weight: bold;
    
}

.paperShelf1{
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
    justify-content: center;
}
.paperShelf2{
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    flex-direction: column;
    justify-content: center;
    margin-top: 60%;
}