.topbar {
    background-color: #6E0D0D;
}

.bgColor {
    background-color: #ffb9af;
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("https://sv1.picz.in.th/images/2021/03/04/oFdARk.png");
    min-height: 100%;
    min-width: 1080px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgLogin {
    background-image: url("https://sv1.picz.in.th/images/2021/03/04/oF0Crz.png");
    min-height: 100%;
    min-width: 1080px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paper {
    background-color: rgba(245, 245, 245, 0.4) !important;
}

.paperDash {
    position: absolute;
    width: 548px;
    height: 347px;
    left: 365px;
    top: 178px;
    background: rgba(255, 255, 255, 0.4)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

/* HOME */

.paperSt {
    position: absolute;
    width: 640px;
    height: 267px;
    left: 925px;
    top: 178px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperIv {
    position: absolute;
    width: 548px;
    height: 155px;
    left: 365px;
    top: 534px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOd {
    position: absolute;
    width: 313px;
    height: 231px;
    left: 925px;
    top: 458px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperPk {
    position: absolute;
    width: 313px;
    height: 231px;
    left: 1252px;
    top: 458px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOc {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 365px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperCs {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 770px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperHs {
    position: absolute;
    width: 391px;
    height: 241px;
    left: 1174px;
    top: 701px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

/* Paper Ordering Chart */

.schOrder {
    position: absolute;
    width: 616px;
    height: 108px;
    left: 8px;
    top: 73px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topOrdering {
    position: absolute;
    width: 1280px;
    height: 108px;
    left: 630px;
    top: 73px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topicLeft {
    position: absolute;
    width: 616px;
    height: 55px;
    left: 8px;
    top: 187px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.topicRight {
    position: absolute;
    width: 1280px;
    height: 55px;
    left: 630px;
    top: 187px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.dataLeft {
    position: absolute;
    width: 616px;
    height: 820px;
    left: 8px;
    top: 248px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.dataRight {
    position: absolute;
    width: 1280px;
    height: 745px;
    left: 630px;
    top: 248px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.buttonOrder {
    position: absolute;
    width: 1283px;
    height: 100px;
    left: 627px;
    top: 892px;
    /* 970 */
    background: rgba(0, 0, 0, 0)!important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom-width: 0px;
}

.buttonPickk {
    position: absolute;
    width: 1283px;
    height: 100px;
    left: 627px;
    top: 892px;
    /* 970 */
    background: rgba(0, 0, 0, 0)!important;
    border-radius: 0px;
    box-shadow: none;
    border-bottom-width: 0px;
}

/* im */

.imDash {
    position: absolute;
    width: 319px;
    height: 248px;
    left: 25%;
}

.imSt {
    position: absolute;
    width: 463px;
    height: 318px;
    left: 24%;
}

.imIc {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 60%;
}

.imOd {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 28%;
    top: 10%;
}

.imPk {
    position: absolute;
    width: 145px;
    height: 145px;
    left: 28%;
    top: 8%;
}

.imOc {
    position: absolute;
    width: 126px;
    height: 123px;
    left: 35%;
    top: 10%;
}

.imCs {
    position: absolute;
    width: 156px;
    height: 145px;
    left: 32%;
    top: 7%;
}

.imHs {
    position: absolute;
    width: 128px;
    height: 125.41px;
    left: 32%;
    top: 10%;
}

.paper2 {
    background-color: rgba(245, 245, 245, 0.4) !important;
    border-radius: 50rem;
}

.im1 {
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
}

.fontt {
    font-size: 60px;
}

.picst {
    align-items: center;
    justify-content: center;
}

/* HOME */

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
.textDb {
    position: absolute;
    width: 291px;
    height: 73px;
    left: 25%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textSt {
    position: absolute;
    width: 219px;
    height: 135px;
    margin-left: 25px;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    padding-left: 0.7%;
}

.textOd {
    position: absolute;
    width: 239px;
    height: 73px;
    left: 12%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textIc {
    position: absolute;
    width: 266px;
    height: 146px;
    left: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: right;
    color: #6E0D0D;
}

.textHs {
    position: absolute;
    width: 239px;
    height: 73px;
    left: 18%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    text-align: center;
    color: #6E0D0D;
}

.textO {
    position: absolute;
    width: 161px;
    height: 73px;
    left: 30%;
    top: 55%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textS {
    position: absolute;
    width: 266px;
    height: 54px;
    left: 18%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #6E0D0D;
}

.textCf {
    position: absolute;
    width: 220px;
    height: 72px;
    left: 23%;
    top: 60%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    color: #6E0D0D;
}

.textSh {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 25%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

/* Picking */

.textPickD {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickCT {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickRN {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickTel {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 10%;
    top: 45%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickAdr {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textPickCC {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 70%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.paperPicking {
    position: absolute;
    width: 1886px;
    /*1404*/
    height: 600px;
    /*561*/
    left: 18px;
    top: 234px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperOrdering {
    position: absolute;
    width: 1886px;
    /*1404*/
    height: 600px;
    /*561*/
    left: 18px;
    top: 234px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

/*Stock*/

.paperVs {
    justify-items: center;
    align-items: center;
    width: 309px;
    height: 263px;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-left: 2%;
    margin-right: 2%;
}

.paperForget {
    /* Forgot Password */
    position: absolute;
    width: 608px;
    height: 630px;
    left: 661px;
    top: 197px;
    background: rgba(244, 244, 244, 0.4)!important;
    border-radius: 20px;
}

.imVs {
    justify-self: center;
    margin-left: 10%;
    padding-top: 1%;
    width: 80%;
    height: 80%;
    /*background-color: #6E0D0D;*/
}

.imVs2 {
    justify-self: center;
    margin-left: 10%;
    margin-top: 3.7%;
    width: 80%;
    height: 80%;
    /*background-color: #6E0D0D;*/
}

.textSto1 {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
}

.textSto2 {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
}

.textSto3 {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
}

.im1 {
    display: flex;
    justify-content: center;
}

/* Text Ordering */

.textOrSup {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrDate {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrAddr {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 29%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrTelAd {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 12.5%;
    top: 56%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrConN {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 29%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.textOrTelCn {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 55%;
    top: 42%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

/* DASHBOARD */

/*ViewStock*/

.paperShelf {
    justify-items: center;
    align-items: center;
    width: 245px;
    height: 208px;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-left: 2%;
    margin-right: 2%;
}

.imViewStock {
    justify-self: center;
    align-self: center;
    margin-top: 3%;
    width: 118px;
    height: 118px;
    margin-left: 26%;
    /* background-color: #6E0D0D; */
    /* background-color: aquamarine; */
}

.textViewStock {
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
    align-self: start;
    /* background-color: aqua; */
}

/*EndViewStock*/

.paperABC {
    position: absolute;
    width: 365px;
    height: 319px;
    left: 383px;
    top: 158px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.paperTT {
    position: absolute;
    width: 765px;
    height: 319px;
    left: 783px;
    top: 158px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperTI {
    position: absolute;
    width: 365px;
    height: 477px;
    left: 383px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperIL {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 777px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperOTW {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 1183px;
    top: 498px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperDam {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 777px;
    top: 747px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

.paperTO {
    position: absolute;
    width: 365px;
    height: 228px;
    left: 1183px;
    top: 747px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 15px;
}

/* PROFILE */

.paperPhoto {
    position: absolute;
    width: 268px;
    height: 268px;
    left: 493px;
    top: 142px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperDetail {
    position: absolute;
    width: 649px;
    height: 748px;
    left: 772px;
    top: 142px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperChangePass {
    position: absolute;
    width: 268px;
    height: 70px;
    left: 493px;
    top: 432px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.textChangePass {
    position: absolute;
    width: 223px;
    height: 39px;
    left: 8%;
    top: 21%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.textP1 {
    position: absolute;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.inputP1 {
    position: absolute;
    width: 246px;
    height: 39px;
    left: 7%;
    background: #C4C4C4;
    border-width: 0;
}

.inputP2 {
    position: absolute;
    width: 523px;
    height: 267px;
    left: 7%;
    background: #C4C4C4;
    border-width: 0;
}

.inputP3 {
    position: absolute;
    width: 246px;
    height: 39px;
    left: 49.5%;
    background: #C4C4C4;
    border-width: 0;
}

.inputP4 {
    position: absolute;
    width: 246px;
    height: 39px;
    left: 49.5%;
    border-width: 0;
}

/* ADD MEMBER*/

.paperAddMB {
    position: absolute;
    width: 268px;
    height: 70px;
    left: 493px;
    top: 423px;
    background: #EF3F3E !important;
    border-radius: 12px;
}

.paperCancelMB {
    position: absolute;
    width: 268px;
    height: 70px;
    left: 493px;
    top: 506px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperDeleteMB {
    position: absolute;
    width: 268px;
    height: 70px;
    left: 493px;
    top: 819px;
    background: #EF3F3E !important;
    border-radius: 12px;
}

.textAddMB {
    position: absolute;
    width: 136px;
    height: 38px;
    left: 23%;
    top: 23%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.textCancelMB {
    position: absolute;
    width: 85px;
    height: 39px;
    left: 33%;
    top: 23%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.editP1 {
    position: absolute;
    width: 246px;
    height: 39px;
    left: 7%;
    background: white;
    border-width: 0;
}

.editP2 {
    position: absolute;
    width: 523px;
    height: 267px;
    left: 7%;
    background: white;
    border-width: 0;
}

.editP3 {
    position: absolute;
    width: 246px;
    height: 39px;
    left: 49.5%;
    background: white;
    border-width: 0;
}

/* txt Ordering Chat */

.txtProID {
    position: absolute;
    width: 208px;
    height: 50px;
    left: 5%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtProNm {
    position: absolute;
    width: 208px;
    height: 50px;
    left: 45%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtProOr {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 37%;
    top: 50%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopL1 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 3%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopL2 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 30%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopL3 {
    position: absolute;
    width: 170px;
    height: 50px;
    left: 60%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR1 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 3%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR2 {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 18%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR3 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR4 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 45%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR5 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR6 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 78%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTopR7 {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 90%;
    top: 10%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.txtTop {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 37%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    /* identical to box height */
    color: #000000;
}

.imsch {
    position: absolute;
    width: 125px;
    height: 90px;
    left: 73%;
    top: 30%;
}

/* MEMBER MANAGEMENT*/

.paperSearchMB {
    position: absolute;
    width: 100%;
    height: 201px;
    top: 55px;
    background: rgba(255, 255, 255, 0.4)!important;
    display: flex;
    flex-direction: 'row';
    justify-content: center;
    align-Items: center;
}

.fontMM1 {
    position: absolute;
    width: 156px;
    height: 39px;
    left: 0;
    top: 0;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 39px;
    text-align: center;
    color: #000000;
}

.buttonMM {
    position: absolute;
    width: 246px;
    height: 39px;
    background: #FFFFFF;
    border-width: 0;
}

.buttonAddMB {
    position: absolute;
    background: #EF3F3E;
    border-radius: 12px;
    border-width: 0;
    width: 256px;
    height: 50px;
}

.paperInEOQ {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 615px;
    top: 238px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.paperInOc {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 987px;
    top: 238px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.paperInCc {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 615px;
    top: 565px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.paperInTc {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 987px;
    top: 565px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.picEOQ {
    position: absolute;
    width: 214.91px;
    height: 80.3px;
    left: 18%;
    top: 20%;
}

.fontEOQ {
    position: absolute;
    width: 307px;
    height: 89px;
    left: 3%;
    top: 60%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #6E0D0D;
}

.picOc {
    position: absolute;
    width: 150.78px;
    height: 99.51px;
    left: 24%;
    top: 20%;
}

.fontOc {
    position: absolute;
    width: 200px;
    height: 89px;
    left: 16%;
    top: 60%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #6E0D0D;
}

.picCc {
    position: absolute;
    width: 150.78px;
    height: 99.51px;
    left: 26%;
    top: 20%;
}

.fontCc {
    position: absolute;
    width: 180px;
    height: 89px;
    left: 22%;
    top: 60%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #6E0D0D;
}

.picTc {
    position: absolute;
    width: 173px;
    height: 118.17px;
    left: 22%;
    top: 14%;
}

.fontTc {
    position: absolute;
    width: 100px;
    height: 89px;
    left: 33%;
    top: 60%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #6E0D0D;
}

/*Shelf*/

.paperShelf1 {
    justify-items: center;
    align-items: center;
    width: 245px;
    height: 208px;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-left: 2%;
    margin-right: 2%;
}

.txtShelf {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 73px;
    text-align: center;
    color: #6E0D0D;
}

.paperProduct {
    justify-items: center;
    align-items: center;
    height: 15%;
    background: rgba(255, 255, 255, 0.4)!important;
    margin: 0.5%;
    background-color: #6E0D0D;
}

.paperTopProduct {
    justify-items: center;
    align-items: center;
    height: 10%;
    background: rgba(255, 255, 255, 0.4)!important;
    margin-top: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 0.5%;
    background-color: #6E0D0D;
}

.txtProShelf {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    width: 20%;
    margin: 1.5%;
    line-height: 35px;
    text-align: center;
    color: 'black';
}

.txtProTopShelf {
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    width: 20%;
    margin: 1%;
    line-height: 35px;
    text-align: center;
    color: 'black';
}

/*EndShelf*/

/* Order Confirm */

.OrConRecv {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 358px;
    top: 399px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.OrConPak {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 800px;
    top: 399px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.OrConReturn {
    position: absolute;
    width: 329px;
    height: 279px;
    left: 1243px;
    top: 399px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 20px;
}

.imOrRecv {
    position: absolute;
    width: 145px;
    height: 139px;
    left: 31%;
    top: 10%;
}

.imOrPak {
    position: absolute;
    width: 145px;
    height: 139px;
    left: 30%;
    top: 10%;
}

.imOrReturn {
    position: absolute;
    width: 138px;
    height: 137px;
    left: 30%;
    top: 10%;
}

.txtOrRecv1 {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 24%;
    top: 64%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtOrCon2 {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 40%;
    top: 75%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtOrPak1 {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 29%;
    top: 64%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtOrRetu1 {
    position: absolute;
    width: 208px;
    height: 73px;
    left: 25%;
    top: 64%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

/* Receiving & Packing Order */

.OrConTopic {
    position: absolute;
    width: 1920px;
    height: 150px;
    left: 0px;
    top: 56px;
    background: rgba(255, 255, 255, 0.4)!important;
}

.txtRecvTopic {
    position: absolute;
    width: 500px;
    height: 73px;
    left: 37%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtPakTopic {
    position: absolute;
    width: 500px;
    height: 73px;
    left: 39%;
    top: 30%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.OrConTable {
    position: absolute;
    width: 1888px;
    height: 74px;
    left: 16px;
    top: 217px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.txtOrConTable1 {
    position: absolute;
    width: 200px;
    height: 73px;
    left: 8%;
    top: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtOrConTable2 {
    position: absolute;
    width: 200px;
    height: 73px;
    left: 30%;
    top: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtOrConTable3 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 50%;
    top: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtOrConTable4 {
    position: absolute;
    width: 200px;
    height: 73px;
    left: 85%;
    top: 5%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

/* Order Confirm Returned */

.PaperReturn {
    position: absolute;
    width: 1884px;
    height: 561px;
    left: 18px;
    top: 232px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.txtReturn1 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 33.5%;
    top: 9%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtReturn2 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 33.5%;
    top: 20%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtReturn3 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 33.5%;
    top: 34%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.txtReturn4 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 33.5%;
    top: 48%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 73px;
    /* identical to box height */
    color: #6E0D0D;
}

.picSuccess {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47.5%;
    top: 30%;
}

/* Confirm Shiping */

.conShipTop {
    position: absolute;
    width: 1920px;
    height: 165px;
    left: 0px;
    top: 56px;
    background: rgba(255, 255, 255, 0.4)!important;
}

.txtShipTop1 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 8%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.txtShipTop2 {
    position: absolute;
    width: 400px;
    height: 73px;
    left: 36%;
    top: 15%;
    font-family: 'Prompt', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 73px;
    /* identical to box height */
    color: #000000;
}

.imschShip {
    position: absolute;
    width: 250px;
    height: 145px;
    left: 85%;
    top: 7%;
}

.StatusShip {
    position: absolute;
    width: 504px;
    height: 79px;
    left: 1395px;
    top: 934px;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.imShipWait {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 38%;
    top: 17%;
}

.imShipSuc {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 5%;
    top: 17%;
}

.imShipRej {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 71%;
    top: 17%;
}

.picError {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 47%;
    top: 30%;
}

/* Add New Product */

.paperAddProduct {
    position: absolute;
    width: 1290px;
    height: 725px;
    left: 320px;
    top: 20%;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.paperPhotoPD {
    position: absolute;
    width: 268px;
    height: 268px;
    left: 8%;
    top: 30%;
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 12px;
}

.fontAddPD {
    position: absolute;
    width: 255px;
    height: 43px;
    left: 38%;
    font-family: Prompt;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: left;
    color: #000000;
}

.inputPD1 {
    position: absolute;
    width: 428px;
    height: 38px;
    left: 60%;
    background: #FFFFFF;
    border-width: 0;
}

.inputPD2 {
    position: absolute;
    width: 190px;
    height: 38px;
    background: #FFFFFF;
    border-width: 0;
}

.inputPD3 {
    position: absolute;
    width: 143px;
    height: 38px;
    background: #FFFFFF;
    border-width: 0;
}

.btCcAnp {
    position: absolute;
    width: 206px;
    height: 58px;
    top: 85%;
    left: 33%;
    font-size: 28px;
    background: #A09797;
    border-width: 0;
    border-radius: 12px;
}

.btAddAnp {
    position: absolute;
    width: 206px;
    height: 58px;
    top: 85%;
    left: 53%;
    font-size: 28px;
    background: #EF3F3E;
    border-width: 0;
    border-radius: 12px;
}